:root {
  --primary-color: #3ab4f2;
  --secondary-color: #0078aa;
  --primary-text: black;
  --secondary-text: white;
  --primary-bg: #f0f1f1;
  --secondary-bg: #f8f9fa;
}
// Body

// Main content for indivisual pages
.main-content-body {
  // Login Form Start
  .form-signin,
  .signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    font-size: 1rem;
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    .form-floating {
      margin: 2% 0;
      display: flex;
      flex-direction: column-reverse;
    }
    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  // Login Form End
  .signup-form {
    form {
      .form-floating {
        margin: 2% 0;
        .row {
          --bs-gutter-x: 0;
          --bs-gutter-y: 0;
          .col:nth-child(2) {
            margin-left: 2%;
          }
        }
      }
    }
  }
  // products_filter
  .prooducts-filter {
    form {
      max-width: 100%;
      width: 100%;
      .form-select,
      .input-group {
        max-width: 250px;
        width: 100%;
        margin: 1%;
      }
    }
  }
}

.main-content-body-container {
  width: 100%;
  padding: 0 1%;
  .product-details {
    flex-wrap: nowrap;
    .img-box {
      // Initial
      padding: 3%;
      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: contain;
        padding: 3%;
        border: 2px solid var(--primary-color);
        border-image: linear-gradient(
          var(--primary-color),
          var(--secondary-color),
          var(--primary-color)
        );
        border-image-slice: 1;
        box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
      }
    }
    .left-half {
      display: flex;
      align-items: center;
      .side-photo-bar {
        .img-box {
          max-width: 200px;
          width: 100%;
          height: 200px;
          margin: 3% 0;
        }
      }
      .main-photo {
        .img-box {
          width: 500px;
          // width: 100%;
          height: 500px;
        }
      }
    }
    @media (max-width: 800px) {
      .left-half {
        display: block;
        .side-photo-bar {
          margin: 0 0;
          display: flex;
          .img-box {
            max-width: 100%;
          }
        }
        .main-photo .img-box {
          width: 100%;
        }
      }
    }
    .right-half {
      width: 30%;
      margin-left: 50px;
      h1 {
        text-align: left;
      }
      p {
        text-align: justify;
      }
    }
  }
  @media (max-width: 1000px) {
    .product-details {
      padding: 3%;
      flex-wrap: wrap;
      .img-box {
        padding: 0%;
      }
      .left-half {
        .img-box {
          padding: 1.5%;
        }
      }
      .right-half {
        width: 100%;
        margin-left: 0px;
      }
    }
  }
}

.main-content-body-container {
  width: 80%;
  padding: 0 0;
  .product-entry {
    form {
      max-width: 100%;
      padding: 0px;
      flex-wrap: nowrap;
      &.active {
        border: 2px solid var(red);
        border-image: linear-gradient(red, green, red);
        border-image-slice: 1;
      }
      .left-half {
        // height: 500px;
        flex: 30%;
        &.drag-area {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .icon {
            font-size: 2rem;
          }
          header {
            font-size: 1.5rem;
            font-weight: 500;
          }
          span {
            font-size: 1rem;
            font-weight: 500;
          }
          .drag-img {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 10px;
            div {
              position: relative;
              img {
                height: 100px;
                width: 100px;
                object-fit: cover;
                border-radius: 5px;
                margin: 5px;
                transition: 0.3s ease;
                &:hover {
                  opacity: 0.7;
                }
              }
              span {
                background: rgb(0, 0, 0);
                height: 25px;
                width: 25px;
                position: absolute;
                top: -5px;
                right: -5px;
                border-radius: 50px;
                cursor: pointer;
                &::before {
                  content: "x";
                  position: absolute;
                  font-size: 0.8rem;
                  top: 1px;
                  left: 5px;
                  height: 2px;
                  width: 60%;
                  color: white;
                }
              }
            }
          }
        }
      }
      .right-half {
        flex: 80%;
        border-left: 2px solid gray;
        padding: 1%;
        .custom-row {
          justify-content: space-between;
          flex-wrap: nowrap;
          margin: 10px 0;
          .form-floating,.form-select {
            margin: 0;
            width: 49%;
          }
          .input-field-1{
            width: 68%;
          }
          .input-field-2{
            width: 30%;
          }
          .input-field-3{
            width: 100%;
          }
        }
      }
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        .right-half {
          border-left: none;
          border-top: 2px solid gray;
          .custom-row {
            display: block;
            .form-floating {
              margin-bottom: 10px;
              width: 100%;
            }
            .form-select {
              width: 100%;
              padding: 12px;
            }
          }
        }
      }
    }
  }
}

.users_all{
  .users_role_toggle{
    text-align: center;
    span{
      display: inline-block;
      padding: 10px;
      margin: 0 10px;
      width: 150px;
      background: var(--primary-color);
      color: var(--secondary-text);
      box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 20px;
      transition: 0.3s ease;
      &.active{
        background: var(--secondary-color);
      }
      &:hover{
        transform: scale(0.9);
      }

    }
  }
}
