:root {
  --primary-color: #3ab4f2;
  --secondary-color: #0078aa;
  --primary-text: black;
  --secondary-text: white;
  --primary-bg: #f0f1f1;
  --secondary-bg: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--secondary-color);
}

h1, h5 {
  text-align: center;
  margin: 2% 0;
}

.bg-light {
  background-color: var(--secondary-bg) !important;
}

.navbar-nav {
  margin: auto;
}

.navbar > .container-fluid {
  justify-content: center;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu {
  position: relative;
  z-index: 1000;
  display: none;
  min-width: 15rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 40px;
  right: auto;
  left: -1%;
  margin-top: 0;
  margin-left: 0.125rem;
}

.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

header {
  background: white;
  display: flex;
  justify-content: center;
}
header .logo-box {
  max-width: 150px;
  width: 100%;
}
header .logo-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}

.breadcrumb-container {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

.main-content-body-container {
  width: 80%;
  margin: auto;
}

footer {
  width: 80%;
  margin: auto;
}
footer p {
  padding: 20px 0;
}

.card-i-txt {
  height: 10rem;
  width: 10rem;
  margin: 2%;
  background: var(--secondary-bg);
  border: 2px solid var(--primary-color);
  -o-border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
     border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
}
.card-i-txt a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-i-txt a i {
  font-size: 1.5rem;
}
.card-i-txt a p {
  font-size: 1.5rem;
  transition: 0.3s ease;
}
.card-i-txt a:hover p {
  letter-spacing: 2px;
}

.card-product {
  width: 300px;
  margin: 2%;
  background: var(--secondary-bg);
  border: 2px solid var(--primary-color);
  -o-border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
     border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
  padding: 2%;
}
.card-product .card-product-img .img-box {
  height: 200px;
}
.card-product .card-product-img .img-box img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-product .card-product-details {
  margin-top: 5%;
}
.card-product .card-product-details p {
  line-height: 0.2rem;
}
.card-product .card-product-details p:nth-child(2) {
  text-align: right;
  color: var(--primary-color);
  font-weight: bolder;
}
.card-product .card-product-details p span {
  font-style: italic;
  font-weight: bolder;
}
.card-product.ofs {
  color: gray;
}
.card-product.ofs img {
  filter: grayscale(100%);
}

.flex-jus-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.warning {
  color: red;
}

.border-design {
  border: 2px solid var(--primary-color);
  -o-border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
     border-image: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
}

.help-text {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
}

.btn {
  background: var(--secondary-color);
}

.alert-box {
  text-align: center;
}
.alert-box h3 {
  padding: 5px;
  border-radius: 5px;
}
.alert-box h3.success {
  background: green;
}
.alert-box h3.error {
  background: red;
}/*# sourceMappingURL=utilities.css.map */