:root {
  --primary-color: #3ab4f2;
  --secondary-color: #0078aa;
  --primary-text: black;
  --secondary-text: white;
  --primary-bg: #f0f1f1;
  --secondary-bg: #f8f9fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--secondary-color);
}
h1,h5 {
  text-align: center;
  margin: 2% 0;
}
// Over written bootstrap
.bg-light {
  background-color: var(--secondary-bg) !important;
}
// Over written bootstrap --> Navbar
.navbar-nav {
  margin: auto;
}
.navbar > .container-fluid {
  justify-content: center;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.dropdown-menu {
  position: relative;
  z-index: 1000;
  display: none;
  min-width: 15rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
}
.dropend .dropdown-menu[data-bs-popper] {
  top: 40px;
  right: auto;
  left: -1%;
  margin-top: 0;
  margin-left: 0.125rem;
}
// Over written bootstrap --> Navbar

// Over written bootstrap
.sticky-container {
  // Sticky Container
  position: sticky;
  top: 0;
  z-index: 100;
}
// Header
header {
  background: white;
//   background: var(--primary-bg);
  display: flex;
  justify-content: center;
  .logo-box {
    max-width: 150px;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: contain;
    }
  }
}
// Header End
// Breadcrumb Start
.breadcrumb-container {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}
// Breadcrumb End

// Main content body for base.html
.main-content-body-container {
  width: 80%;
  margin: auto;
}

footer {
  //Footer
  width: 80%;
  margin: auto;
  p{
    padding: 20px 0;
  }
}
// Card Design
.card-i-txt {
  height: 10rem;
  width: 10rem;
  margin: 2%;
  background: var(--secondary-bg);
  border: 2px solid var(--primary-color);
  border-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    i {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.5rem;
      transition: 0.3s ease;
    }
    &:hover {
      p {
        letter-spacing: 2px;
      }
    }
  }
}
.card-product{
  width: 300px;
  margin: 2%;
  background: var(--secondary-bg);
  border: 2px solid var(--primary-color);
  border-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
  padding: 2%;
  .card-product-img{
    .img-box{
      height: 200px;
      img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: contain;
      }
    }
  }
  .card-product-details{
    margin-top: 5%;
    p{
      line-height: 0.2rem;
      &:nth-child(2){
        text-align: right;
        color: var(--primary-color);
        font-weight: bolder;
      }
      span{
        font-style: italic;
        font-weight: bolder;
      }
    }
  }
  &.ofs{
    color: gray;
    img{
      filter: grayscale(100%);
    }
  }
}
// Reuseable components
.flex-jus-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.warning{
  color: red;
}

.border-design{
  border: 2px solid var(--primary-color);
  border-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  border-image-slice: 1;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.13);
}

.btn{
  background: var(--secondary-color);
}